body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
<<<<<<< Updated upstream
  --outer-space-crayola: #394648;
  --lavender-blush: #f8e9e9;
=======
  --outer-space-crayola:#394648;
  --lavender-blush:#ffffff;
  

}

*  {
  background: white;
>>>>>>> Stashed changes
}
/* 
* {
  background: lightsalmon;
} */

a {
  background: none;
}

p {
  font-size: 18px;
  font-weight: bold;
  /* background-color: var(--lavender-blush); */
  text-align: center;
}

h1 {
  margin: auto 30px;
  padding: 10px;
  color: var(--melon);
  font-weight: bold;
  text-align: center;
}

#header {
  display: flex;
  margin-left: 5px;
}

#navigation {
  align-items: flex-end;
  font-size: 22px;
  text-decoration: none;
  align-content: center;
}

#navigation a {
  color: var(--russian-green);
  padding-left: 1em;
  font-weight: bold;
  text-decoration: none;
}


<<<<<<< Updated upstream
.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--lavender-blush);
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
}

.card .content {
  font-size: 18px;
  color: var(--tan);
  font-weight: bold;
  text-align: center;
}

#card-title {
  margin-top: 10px;
  color: var(--lavender-blush);
  text-shadow: 1px 1px 6px var(--outer-space-crayola);
}
=======
>>>>>>> Stashed changes

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

#footer {
  padding: 5px;
  margin-top: 10px;
}

.icon {
  padding: 10px;
}

#about-section {
  margin: 2em;
}

#about-section p {
  margin-top: 57px;

  /* color: var(--outer-space-crayola); */
  color: white;
}

#footer {
  background-color: var(--outer-space-crayola);
}

#footer .icon {
  background-color: var(--outer-space-crayola);
  margin-top: 20px;
}

#footer p {
  background-color: var(--outer-space-crayola);
  margin-top: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  /* color: hsl(210, 22%, 49%); */
  color: white;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.menu {
  padding: 0rem 0;
}
.title {
  text-align: center;
  top: 15rem;
  right: 15rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: hsl(360, 71%, 66%);
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.active {
  border-bottom: 2px solid;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid hsl(360, 71%, 66%);
  border-radius: 0.25rem;
  display: block;
}

.logo {
<<<<<<< Updated upstream
  width: 30%;
  height: 40%;
  text-align: center;
=======
  width: 18%;
  height: 20%;
text-align: center;

>>>>>>> Stashed changes
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted hsl(210, 22%, 49%);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: #c59d5f;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

.navbar {
  padding: 20px;
  box-shadow: 0 -2px 8px 1px rgba(0, 0, 0, 0.4);
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}
.navbar-nav a {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}
.center,
.right {
  display: flex;
}

h6 {
  font-size: larger;
  font-weight: 700;
  margin-right: 10px;
}



/* Write your CSS here */
.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90vw;
}

<<<<<<< Updated upstream
.form-container {
  padding: 20px;
  background: #eedfdf;
  width: 60%;
  border-radius: 20px;
  margin: auto;
}

.container mt-2 {
  background-color: lightblue;
}

.header {
  background-color: #003580;
  color: white;
  /* display: flex; */
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer {
  margin: 20px 0px 0px 0px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
}

.bgImage {
  /* object-fit: cover;
  width: 100%;
  height: 100%; */
  text-align: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
}
=======
.content-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.user-icon {
  padding: 10px;
  width: 38px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  margin-right: 20px;
}

.sub-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.name-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.username {
  color: #000000;
  font-size: 18px;
  margin-right: 20px;
}

.time-now {
  color: #000000;
  font-size: 12px;
  padding: 5px;
}

.comment-line {
  color: #000000;
  font-size: 14px;
  margin-top: 0px;
}

.icons-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0px;
  width: 100%;
}

.like-btn {
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: transparent;
  outline: none;
  margin-right: 10px;
}

.image2 {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

.icon-name {
  color: #94a3b8;
  font-size: 14px;
}

.del-image {
  width: 20px;
  height: 20px;
}

.del-btn {
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: transparent;
  outline: none;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 2%;
}



@media screen and (max-width: 576px) {
  .comment-item {
    width: 75vw;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
}

.main-heading {
  color: #1e293b;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inner-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.element-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name-field {
  width: 280px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #cbd2d9;
  outline: none;
}
.comment-field {
  width: 280px;
  height: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #cbd2d9;
  border-width: 2px;
  outline: none;
}

::placeholder {
  color: #475569;
}

.btn {
  background-color: #000000;
  border-style: none;
  border-radius: 2px;
  color: #dee0e3;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 110px;
}

.image1 {
  width: 400px;
  height: 300px;
}

.comments-count {
  color: #334155;
  font-size: 14px;
}

hr {
  background-color: #cbd2d9;
  opacity: 0.5;
  width: 88vw;
  margin-left: 0;
}

.number-count {
  color: white;
  padding: 6px;
  background-color: #77868d;
  border-radius: 5px;
  font-size: 12px;
}

.comment-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .main-container {
    padding: 40px;
  }
  hr {
    width: 80vw;
  }

  .inner-holder {
    flex-wrap: wrap;
  }

  .element-holder {
    order: 1;
  }
  .image1 {
    order: 0;
    width: 300px;
    height: 200px;
  }
}
>>>>>>> Stashed changes
